<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Tecnolunchs' Queues</h1>
  <br>
  <h3 class="sub-header">Main queue's members</h1>
  {% if mqm_list|length > 0 %}
    <nav>
    <ul class="pagination">
      {% for m in mqm_list %}
        <li {% if m.status = 1 %}class="active" {% else %} class="disabled" {% endif%}><a href="#">{{ m.user}}</a></li>
      {% endfor %} 
    </ul>
    </nav>
  {% else %}
    <p>No members in this queue.</p>
  {% endif %}
  <br>
  <h3 class="sub-header">Punishment queue's members</h1>
  {% if pqm_list|length > 0 %}
    <nav>
    <ul class="pagination-lg">
      {% for m in pqm_list %} 
        <li {% if m.status = 1 %}class="active" {% else %} class="disabled" {% endif%}><a href="#">{{ m.user}}</a></li>
      {% endfor %} 
    </ul>
    </nav>
  {% else %}
    <p>No members in this queue.</p>
  {% endif %}
</div>
