<script type="text/javascript" src="/static/js/bootstrap-timepicker.js"></script>
<h3 class="sub-header">General Settings</h1>
<div>
<div class="col-md-12 well">
  <form role="form">
    <div class="form-group">
      <label for="group_size">Group Size:</label>
      <input type="text"  class="form-control" id="group_size" value="{{config.group_size}}">
      <label for="group_size">Closing Time:</label>     
        <div class="input-group bootstrap-timepicker">
            <input id="final_time" type="text" class="form-control">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>
    </div>
    <button type="button" class="btn btn-default" onclick="javascript:save_general_settings()">Save</button>
  </form>
</div>
</div>
<script type="text/javascript">
    $('#final_time').timepicker({'defaultTime': '{{config.final_time|time:"g:i A"}}'});
</script>
