<script type="text/javascript" src="/static/js/bootstrap-timepicker.js"></script>
<h3 class="sub-header">General Settings</h1>
<form role="form">
  <div class="form-group">
    <label for="group_size">Group Size:</label>
    <input type="text" style="width:30%" class="form-control" id="group_size" value="{{config.group_size}}">
 	<label for="group_size">Closing Time:</label>
	<div class="input-append bootstrap-timepicker">
        <input id="timepicker1" type="text" class="input-small">
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
    </div>
	<script type="text/javascript">
	    $('#timepicker1').timepicker();
	</script>
  </div>
  <button type="button" class="btn btn-default" onclick="javascript:save_general_settings()">Save</button>
</form>