<div id="groups_details" class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>No.</th>
        <th>User</th>
        <th>Checked Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for member in members_list %}
          <a href="/offerings/list/cat/{{ category.id }}/">{{ category.title }}</a><br />
          <tr>
            <td>1</td>
            <td>{{ member.member.user.get_full_name}}</td>
            <td>{{ member.checked_date}}</td>
            <td>{{ member.get_status_display}}</td>                  
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>